*.zip

/controller/*.zip

/box/box.stl
/box/fab

# Tiva
/tiva/RemoteSystemsTempFiles/
/tiva/.jxbrowser.userdata/
/tiva/reflow_ctrl/.launches/
/tiva/reflow_ctrl/.settings/
/tiva/reflow_ctrl/Debug/
/tiva/.gitignore

# Host
/host/signals.log
/host/tiva_usb_connect

# LTspice
*.raw
*.log
*.net

