*.zip

/controller/*.zip

/box/box.stl
/box/lid.stl
/box/fab

/mount/pcb_mount.stl
/mount/stencil_mount.stl
/mount/pcb.stl
/mount/stencil.stl
/mount/plate.stl
/mount/fab

# Tiva
/tiva/RemoteSystemsTempFiles/
/tiva/.jxbrowser.userdata/
/tiva/reflow_ctrl/.launches/
/tiva/reflow_ctrl/.settings/
/tiva/reflow_ctrl/Debug/
/tiva/.gitignore

# Host
/host/signals.log
/host/tiva_usb_connect


# Gerbers
/thermo-sensor-analog/fab/*
/thermo-sensor-digital/fab/*
/tiva-board/fab/*
